@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('opentype'),
    url('./fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
  /* Bold */
  font-style: normal;
}


body {
  font-family: 'SF Pro Display' !important;
}